.main {
  width: 100%;
  background: #f3f3f3 url("../img/back_img.png") no-repeat 50% 0;
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}

article + article {
  margin-top: 20px;
}

//공지사항
.content {
  width: 100%;
  background-color: $white;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  .top_tit {
    line-height: 76px;
    padding: 0 20px;
    border-bottom: 1px solid #f3f3f3;
    box-sizing: border-box;
    h2 {
      display: inline-block;
      font-size: 16px;
    }
    .more {
      position: relative;
      float: right;
      font-size: 12px;
      color: #999;
      &::before {
        position: absolute;
        content: "+";
        display: inline-block;
        top: 50%;
        transform: translateY(-50%);
        left: -9px;
        line-height: 1;
      }
    }
  }
}