.sub {
  width: 100%;
  @include bg ("back_img.jpg", no-repeat, 50% 0, null,#f3f3f3);
  .container {
    width: 1200px;
    margin: 0 auto;
    background-color: $white;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  }
}
.bx_top {
  background: #e7e7e7;
  .sub_tit {
    position: relative;
    padding: 15px 20px;
    font-size: 16px;
  }
}

//tab 메뉴
.tab_btns {
  width: 100%;
  border-bottom: 1px solid #d4d4d4;
  padding: 0 30px;
  box-sizing: border-box;
  button {
    display: inline-block;
    color: #666;
    width: 120px;
    padding: 9px 0;
    text-align: center;
    background-color: #d4d4d4;
    box-sizing: border-box;
    &.on {
      border: 1px solid #d4d4d4;
      border-bottom: none;
      background-color: #f3f3f3;
      color: $black;
    }
  }
}
.tab_cont {
  display: none;
  position: relative;
  background-color: #f3f3f3;
  border: 1px solid $white;
  padding: 22px 0;
  box-sizing: border-box;
  &.active {
    display: block;
  }
  .search_tp {
    width: 100%;
    color: #666;
    th {
      width: 119px;
      text-align: right;
      font-size: 13px;
      padding: 13px 16px 13px 0;
      box-sizing: border-box;
    }
  }
  .btn.small {
    position: absolute;
    bottom: 30px;
    right: 32px;
  }
}

.bx_ground {
  padding: 0 20px;
  min-height: 770px;
  box-sizing: border-box;
  .btn.edit {
    float: right;
    margin: 20px 0 10px
  }
  .bx_btn {
    text-align: center;
    margin: 40px 0;
  }
}
