/*URL*/
$url: "/img/";

/*Hashing*/
$version: "?v=20190416";

/*Font 및 Color*/
// /$family :NotoSans, 'Lucida Grande', 'Open Sans', 'roboto', 'AppleGothic', 'Arial', 'Meiryo', 'Hiragino Kaku Gothic Pro', 'NanumBarunGothic','Malgun Gothic', dotum, "돋음",'sans-serif';
$family: '맑은 고딕','Malgun Gothic',나눔고딕,돋움,Dotum,굴림,Gulim, Arial, Helvetica,sans-serif;
$white: #ffffff;
$black : #333333;
$point : #ff7600;
$bold:600;
$bolder:bold;